.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;
    max-width: 20%;
    text-align: center;
    border-right: 3px solid gray;
}

.add-form div.error-input{
    position: relative;
    max-width: 80%;
}

.add-form div.error-input input.word-input{
    border-radius: 0.2em;
    font-size: 5em;
    text-align: center;
}

.add-form div.more-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

div.list-displayer-container {
    display: flex; 
    max-width: 100%; 
    margin-bottom: 10px;
}

.add-form .word-input{
    width: 100%;
    border-radius: 0.2em;
    font-size: 5em;
    text-align: center;
}

.add-form div.addOptions{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.add-form > label, .more-options > label{
    margin: 10px 0;
}

.add-form .regular-input {
    border-radius: 0.2em;
}

.add-form button.close{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

.add-form button.submit{
    margin-top: 0.5em;
    padding: 0.7em 0;
    width: 70%;
    border-radius: 0.3em;
    background: var(--f-green);
    border: 1px solid var(--soft-black);
}

.add-form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 2em;
    max-height: 20%;
}

.add-form select.type-input {
    margin-left: 0.4em;
}