div.errTooltip{
    background-color: white;
    padding: 0.2em;
    margin-top: 9px;
    width: 100%;
    position: absolute;
    top: 100%;
    color: rgb(216, 114, 114);
    z-index: 1;
    border-radius: 0.2em;
    border: 1px solid rgb(216, 114, 114);
    font-size: 0.9em;
}
/* div.list-input-wrapper .errTooltip{
    background-color: white;
    padding: 0.2em;
    margin-top: 9px;
    width: 100%;
    position: absolute;
    top: 100%;
    color: rgb(216, 114, 114);
    z-index: 1;
    border-radius: 0.2em;
    border: 1px solid rgb(216, 114, 114);
    font-size: 0.9em;
} */

div.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgb(216, 114, 114);
    position: absolute;
    bottom: 100%;
}
