:root{
    --soft-black: #1B1C1E;
    --f-blue: rgb(74, 112, 139);
    --f-light-blue: rgb(89, 135, 168);
    --f-green: rgb(135, 223, 185);
    --f-brown: rgb(219, 223, 210);
    --error: rgb(216, 114, 114);
}

*{
    box-sizing: border-box;
}

html, body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,
        Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
        Helvetica Neue,sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

button:hover:not(button:disabled){
    background: var(--f-green);
    border-color: var(--soft-black);
}

.home {
    display: flex;
    margin-top: 1.5em;
    min-height: 85vh;
}

.home .questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 5;
}

.questions button.choice{
    margin: 0 0.5em;
    padding: 2em;
}

.home .memory{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    border-left: 3px solid gray;
}

.absolute-center-x{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}